.card {
    border: 1px solid black;
    border-radius: 5px;
    padding: 2rem;
    background-color: rgba(231, 231, 231, 0.64);
}

.title {
    font-size: 50px
}

.year {
    font-size: 33px;
}

.genre {
    font-size: 1.4rem;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
}

.rating {
    font-size: 1.2rem;
}

.link {
    text-decoration: none;
    color: black;
}